

#start{
    font-size: 1.75em;
    width: 8em;
}

#game-window{
  align-items: center;
  justify-content: center;
  overflow: auto;
  
}

#title{
    margin-bottom: 20%;
    padding-top: .2em;
    padding-bottom: .2em;
    margin-left:0;
    margin-right:0;
    background: #F3DF23;
    color: #C13B3A;
    font-family: bobs;
    font-size: 4.5em;
    text-decoration: underline;
}

#question{
    color: #F3DF23;
    padding-left: 5%;
    padding-right: 5%;
}

#timer, #options{
    color:  #EFF0F1;
}

.container{
    margin-top: 10vh;
    height: 65vh;
    width: 90vh;
    background-image: url(../../assets/images/burgers.jpg);
    padding: 0;
    min-width: 900px;
    min-height: 550px;
}

.option:hover{
    color:  #5791DB;
}

body{
    background-image: url(../../assets/images/background.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    min-height: 100vh
}


@media only screen and (max-height: 300px) {
  #title{
      margin:5%;
  }
}

@font-face {
  font-family: bobs;
  src: url(Bobs_Burgers.ttf);
}